<%= form_with model: board do |form| %>
  <% if board.errors.any? %>
    <div class="error-message">
      <%= board.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  <div class="form__group">
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: true %>
  </div>
  <div class="form__group">
    <%= form.label :background %>
    <div class="form__radio">
      <%= form.radio_button :background, "white", checked: true %>
      <%= form.label :background_white, "White" %>
    </div>
    <div class="form__radio">
      <%= form.radio_button :background, "red" %>
      <%= form.label :background_white, "Red" %>
    </div>
    <div class="form__radio">
      <%= form.radio_button :background, "green" %>
      <%= form.label :background_white, "Green" %>
    </div>
    <div class="form__radio">
      <%= form.radio_button :background, "blue" %>
      <%= form.label :background_white, "Blue" %>
    </div>
    <div class="form__radio">
      <%= form.radio_button :background, "yellow" %>
      <%= form.label :background_white, "Yellow" %>
    </div>
  </div>
  <%= form.submit class: "btn" %>
<% end %>
